<p style="text-align: center;"><strong>CONTRATO DE VENTA DE VEH&Iacute;CULO DE MOTOR</strong></p>
<p style="text-align: center;">&nbsp;</p>
<p><strong>ENTRE:</strong></p>
<p>&nbsp;</p>
<p style="text-align: justify;">De una parte, <strong>{{vendedor_saludo}}</strong> <strong>{{vendedor_nombre}}</strong>, dominican{{vendedor_suffix}}, mayor de edad, portador{{vendedor_suffix}} de la c&eacute;dula de identidad y electoral No. <strong>{{vendedor_cedula}}</strong>, <strong>{{vendedor_estado_civil}}</strong>, domiciliad{{vendedor_suffix}} y residente en <strong>{{vendedor_direccion}}</strong> en la ciudad de <strong>{{vendedor_ciudad}}</strong>, {{vendedor_pais}}; quien para los usos del presente acto se denominar&aacute; por su nombre completo o LA PRIMERA PARTE O <strong>{{vendedor_articulo}} {{vendedor_titulo}}</strong>.</p>
<p style="text-align: justify;">Y de la otra parte, <strong>{{comprador_saludo}} {{comprador_nombre}}</strong>, dominican{{comprador_suffix}}, mayor de edad, portador{{comprador_suffix}} de la c&eacute;dula de identidad y electoral <strong>No. {{comprador_cedula}}</strong>, <strong>{{comprador_estado_civil}}</strong>, domiciliad{{comprador_suffix}} y residente en <strong>{{comprador_direccion}}</strong> de la ciudad de <strong>{{comprador_ciudad}}</strong>, {{comprador_pais}}; quien en lo adelante y para los usos del presente acto se denominar&aacute; por su nombre completo o LA SEGUNDA PARTE O <strong>{{comprador_articulo}} {{comprador_titulo}}</strong>.</p>
<p style="text-align: justify;"><strong>PRIMERO:</strong> El veh&iacute;culo objeto de la presente venta es de la marca <strong>{{vehiculo_marca}}</strong>, modelo <strong>{{vehiculo_modelo}}</strong>, color<strong> {{vehiculo_color}}</strong>, chasis No.<strong> {{vehiculo_chasis}}</strong>, motor No. <strong>{{vehiculo_motor}}</strong>, placa No. <strong>{{vehiculo_placa}}</strong> y a&ntilde;o <strong>{{vehiculo_anio}}</strong>. {{vendedor_articulo}} <strong>{{vendedor_titulo}}</strong> declara que dicho veh&iacute;culo se encuentra libre de grav&aacute;menes, embargos o cualquier otra limitaci&oacute;n.</p>
<p style="text-align: justify;"><strong>SEGUNDO:</strong> El precio total de esta compraventa es de <strong>RD$ {{precio_venta}}</strong>, que <strong>{{comprador_articulo}} {{comprador_titulo}}</strong> se obliga a pagar al momento de la firma de este contrato, mediante <strong>{{forma_pago}}</strong>. <strong>{{vendedor_articulo}} {{vendedor_titulo}}</strong> declara recibir dicha suma a su entera satisfacci&oacute;n.</p>
<p style="text-align: justify;"><strong>TERCERO:</strong> <strong>{{vendedor_articulo}} {{vendedor_titulo}}</strong> declara ser el leg&iacute;timo propietario del veh&iacute;culo descrito y se compromete a realizar, o a facilitar, todos los tr&aacute;mites de traspaso necesarios. <strong>{{comprador_articulo}} {{comprador_titulo}}</strong> declara haber inspeccionado el veh&iacute;culo y lo recibe en el estado en que se encuentra, sin que exista reclamo futuro por vicios ocultos.</p>
<p style="text-align: justify;"><strong>CUARTO:</strong> Los gastos notariales, impositivos y cualesquiera otros que se deriven de la presente venta ser&aacute;n a cargo de <strong>ambas partes</strong>, salvo pacto en contrario.</p>
<p style="text-align: justify;"><strong>QUINTO:</strong> Para todos los fines legales, las partes acuerdan que sus domicilios son los establecidos en este contrato.</p>
<p style="text-align: justify;">En prueba de conformidad, ambas partes firman el presente contrato en <strong>{{lugar_firma}}</strong>, a los <strong>{{dia_firma}}</strong> d&iacute;as del mes de <strong>{{mes_firma}}</strong> del a&ntilde;o <strong>{{anio_firma}}</strong>.</p>
<p style="text-align: justify;">&nbsp;</p>
<p style="text-align: justify;">&nbsp;</p>
<table style="border-collapse: collapse; width: 100%; border: 1px solid rgba(255, 255, 255, 0);">
<tbody>
<tr>
<td style="width: 50%; text-align: center;">_______________________</td>
<td style="width: 50%; text-align: center;">_______________________</td>
</tr>
<tr>
<td style="width: 50%; text-align: center;"><strong>{{vendedor_nombre}}</strong></td>
<td style="width: 50%; text-align: center;"><strong>{{comprador_nombre}}</strong></td>
</tr>
<tr>
<td style="width: 50%; text-align: center;"><strong>PRIMERA PARTE O {{vendedor_articulo}} {{vendedor_titulo}}</strong></td>
<td style="width: 50%; text-align: center;"><strong>SEGUNDA PARTE O {{comprador_articulo}} {{comprador_titulo}}</strong></td>
</tr>
</tbody>
</table>